*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url(pictures/background.png);
}

.cover{
    margin:30px;
    background-image:url(pictures/semi-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
}

nav{
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

nav a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
}

.name{
    text-decoration:underline;
}

.skills{
    text-decoration: underline;
    font-style: oblique;
}

nav a:hover{
    background-color: white;
    color: black;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-family:monospace;
    font-style:oblique;
}
.container{
    margin:5% 20%;
    
}

img{
    width: 15px;
}

.progress{
    height: 10px;
    margin-bottom: 50px;
}

span{
    margin: 20px;
    position: relative;
    bottom: 5px;
}

.progress-html{
    background : linear-gradient(to right,rgb(255, 185, 138) 90%, white 10%);
}

.progress-css{
    background : linear-gradient(to right,rgb(255, 185, 138) 70%, white 30%);
}

.progress-javascript{
    background : linear-gradient(to left,white 80%, rgb(255, 185, 138) 20%);
}

.footer{
    background-color:black;
    width: 100%;
    margin: 0px;
    text-align: center;
    bottom: 0px;
    font-size: 15px;
    color:wheat;
}

@media screen and (max-width:940px){
    nav{
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 0px
    }
}